<!DOCTYPE html>
<html>
    <head>
        <title>FlickPicks</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    </head>
    <header>
    <%  if (username) { %>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/movies">FlickPicks</a>
            </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-brand"> Welcome, <%= username %></li>
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
    </nav>
   <%   } else { %>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">FlickPicks</a>
            </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                          <li><a href="/login">Login</a></li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
    </nav>
    <%  } %>
      </header>
