<!doctype html>
<html lang="en">
  <head>

  </head>
  <body>
    <%- include('partials/header'); %>

    <h2>Error</h2>
    <a class="btn btn-primary btn-lrg" href="/movies/new">Try Again</a>

    <%- include('partials/footer'); %>
  </body>
</html>
