<!DOCTYPE html>
<html>
    <head>
        <title>FlickPicks</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="landing.css">
    </head>
    <body>
<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Flick Picks</h1>
            <p>One stop shop for all things film</p>

<div><a href="/movies">View All Movies</a></div>
<div><a href="/register">Create an Account!</a></div>

    </body>
<% include partials/footer %>
