<head>
    <link href="/static/custom.css" rel="stylesheet" type="text/css">
</head>
<% include partials/header %>
<header class="jumbotron">
<div class="container">
    <h1>Flick Picks</h1>
    <p>One stop shop for all things movies</p>
    <button type="button" class="btn btn-outline-dark"><a href="/register">Create an Account!</a></button>
    <button type="button" class="btn btn-outline-dark"><a href="/login">Login!</a></button>
  </div>
</div>
</header>

